@use'../utils/variables' as vars;

.section-1{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    flex-wrap:wrap;
    width:90%;
    min-height:500px;
    height:auto;
    border:rgb(244, 94, 0) dashed 5px;
    background-color: vars.$background-color2;
    border-radius:20px;
    margin:0px auto 0px auto;
    padding:20px;
}

.image-container{
    display:flex;
}

.image-container2{
    background-color: rgb(162, 162, 162);
    padding:30px;
    margin: 20px;
    border-radius: 20px;


    height:auto
}

img {
    border-radius: 15px;
    

}

.section-2{
    display:flex;
    flex-direction:column;
    gap:20px;
    }

.topic-2-container{
    display:flex;
    flex-direction:column;

    gap:20px;
    }


.full-way{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    height:auto;
}

