@use'../utils/variables' as vars;



.square-container1{

    width:200px;
}
.square-container {
    display:flex;
    width:95%;
    border:vars.$border-color;
    border:2px solid;
    height:200px;
    margin:auto;
 
    background-color:vars.$background-color3;

}

.square{
    height: 50px;
    width:50px;
  
}
.square {
    background-color:vars.$background-color1;
}
.square-1{}
.square-2{
    background-color:red;
}
.square-3{
    background-color:green;
}
.square-4{
    background-color:yellow;
}
.square-5{
    background-color:black;
}
.square-6{}
.square-7{}
.square-8{}
.square-9{}



/*hover affect*/

.square-1:hover {      
    transform:scale(1.5);
    cursor: pointer;
}


.wide-example{
    display:flex;
    flex-direction: column;
}
.btn-move{
    display:flex;
    align-self: center;
    cursor: pointer;
    height:50px;
    width:50px;
        &:active + .square-10-move {
        animation: move-square 2s ease forwards;
       
        }
}

@keyframes move-square {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(1200px);
   
    }
    100% {
      transform: translateX(0);
    }
  }



/*square 2 hovering and affecting square 3*/

.square-2{
    cursor: pointer;
    &:hover + .square-3{
        transform: scale(1.9);
    }
}

.square-4{

    cursor: pointer;
    &:active + .square-5{
        transform: scale(0.1);
        transition: transform 4000ms;
    }
}