$cd-txt: #6300a0;
$cd-box:black;
$cd-danger: #b20a37;
$cd-btn:black;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);
$cd-txt--invalid: #fff;
$border-color:rgb(64, 64, 64) solid 1px;
$background-color1:rgb(0, 166, 255);
$background-color2: rgb(221, 221, 221);
$background-color3:rgb(153, 229, 175);
$background-color4:rgb(225, 240, 253)